{{define "login"}}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/manager/public/style/general.css">
    <link rel="stylesheet" href="/manager/public/style/form.css">
    <title>Document</title>
</head>

<body>
    <header>
    </header>

    <div class="formbold-main-wrapper">
        <!-- Author: FormBold Team -->
        <!-- Learn More: https://formbold.com -->
        <div class="formbold-form-wrapper">

            <img width="400px" src="https://cdn-icons-png.flaticon.com/512/4206/4206265.png">

                <div class="formbold-form-title">
                    <h2 class="">You are welcome!</h2>
                    <p>
                        Autopark is the greatest spot of cars to book!
                    </p>
                </div>

                <div class="formbold-input-flex">
                    <div>
                        <label for="manager-login" class="formbold-form-label">
                            Login
                        </label>
                        <input type="text" name="manager-login" id="manager-login" class="formbold-form-input" />
                    </div>
                    <div>
                        <label for="manager-password" class="formbold-form-label"> Last name </label>
                        <input type="password" name="manager-password" id="manager-password" class="formbold-form-input" />
                    </div>
                </div>



                <button class="formbold-btn" id="submit-manager-login">Login</button>
        </div>
    </div>
    <style>

    </style>
</body>

<script type="module" src="/manager/public/script/http/http.js"></script>
<script type="module" src="/manager/public/script/managers/login.js"></script>

</html>
{{end}}