* {
    font-family:  system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

body {
    background-image: url("https://img.freepik.com/premium-vector/dotted-simple-seamless-vector-pattern_547648-1241.jpg");
}

header {
    padding-top: 50px;
}

header nav {
    display: flexbox;
    justify-content: flex-start;
    flex-flow: row wrap;

    width: 100%;
    border-bottom: solid 2px lightgray;
}

header nav a,
a:visited {
    padding-left: 50px;
    padding-right: 25px;
    font-size: 25px;
    text-decoration: none;
    color: black;
    text-align: center;
    width: 100%;
}

header nav 
a:hover {
    background: rgb(2,0,36);
    background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(255,255,255,1) 0%, rgba(227,234,236,1) 100%, rgba(0,191,255,0.37717093673406865) 100%);
}

body #content {
    display: flex;
    flex-flow: row wrap;
}

#content #inner-left {
    padding-left:10%;
    width: 50%;
}

#content #inner-left h1{
    text-align: center;
    font-size: 35px;
    padding-top: 10px;
}



#content #inner-right {
    text-align: center;
    width: 40%;
}
#container {
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;

    
    background-color: rgb(248, 250, 250);
    border-radius: 15px;
    margin: auto;
    border:1px solid black;

    padding-bottom: 50px;
}

#container #element {
    margin: auto;
    display: flex;
    justify-content: space-around;
    
    margin-top: 50px;
    padding: 5px;

    
    border: 2px solid rgb(134, 134, 134);
    border-radius: 15px;
    width: 25%;
    min-width: 350px;
    box-shadow: 0 1rem 1rem -0.75rem black;
}

body #container #element #right-side {
    overflow: hidden;
    white-space: nowrap; /* Don't forget this one */
    text-overflow: ellipsis;
    text-align: right;
    overflow: hidden;
}

body #container #element #right-side h1{
    text-align: right;
    overflow: hidden;
    white-space: nowrap; /* Don't forget this one */
    text-overflow: ellipsis;
    margin: 10px;
}

body #container #element img, a {
    width: 100px;
}